<launch>
  <node pkg="nodelet"
        type="nodelet"
        name="standalone_nodelet" 
        args="manager"
        output="screen"
  />
 
  <node pkg="nodelet"
        type="nodelet"
        name="Hello_World"
        args="load nodelet_basics/Hello_World standalone_nodelet"
        output="screen"
  />
</launch>
